<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><% t(:editing_banner) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @banner } %>

<%= form_for [:admin, @banner], url: spree.admin_banner_path(@banner), html: { multipart: true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
