<% scope = 'activerecord.attributes.spree/home_page_feature' -%>

<% content_for :page_title do %>
  <%= plural_resource_name(Spree::HomePageFeature) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_home_page_feature), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_home_page_feature' } %>
<% end if can?(:create, Spree::HomePageFeature) %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>


<% if @collection.any? %>
  <table class="table" id='listing_home_page_features'>
    <thead>
      <tr data-hook="admin_home_page_features_index_headers">
        <th><%= I18n.t(:title, :scope => scope) %></th>
        <th><%= I18n.t(:style, :scope => scope) %></th>
        <th><%= I18n.t(:publish, :scope => scope) %></th>
        <th data-hook="admin_home_page_features_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |home_page_feature| %>
        <tr id="<%= spree_dom_id home_page_feature %>" data-hook="admin_home_page_features_index_rows" class="<%= cycle('odd', 'even') %>">
          <td><%= home_page_feature.title %></td>
          <td><%= home_page_feature.style.present? ? home_page_feature.style.humanize : Spree.t(:none) %></td>
          <td><%= home_page_feature.publish.to_s.titleize %></td>
          <td class="actions actions-3 text-right" data-hook="admin_home_page_features_index_row_actions">
            <%= link_to_edit home_page_feature, no_text: true, class: 'edit' if can?(:edit, home_page_feature) %>
            <%= link_to_delete home_page_feature, no_text: true if can?(:delete, home_page_feature) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::HomePageFeature)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
