<% scope = 'activerecord.attributes.spree/banner' -%>
<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to t(:new_banner), spree.new_admin_banner_path, :icon => 'add', :id => 'admin_new_banner_link' %>
    </p>
    </li>
  </ul>
  <br class="clear" />
</div>


<h1><%= t(:listing_banners) %></h1>
<table class="index" id='listing_banners'>
  <thead>
    <tr>
      <th><%= t(:title, :scope => scope) %></th>
      <th><%= t(:style, :scope => scope) %></th>
      <th><%= t(:published, :scope => scope) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @banners.each do |banner|
         @edit_url = spree.edit_admin_banner_path(banner)
         @delete_url = spree.admin_banner_path(banner)
    %>
      <tr id="<%= spree_dom_id banner %>">
        <td><%= banner.title %></td>
        <td><%= banner.style.humanize %></td>
        <td><%= banner.publish.to_s.titleize %></td>
        <td class="actions">
          <%= link_to_edit banner, :class => 'edit' %> &nbsp;
          <%= link_to_delete banner, url: spree.admin_banner_path(banner) %>
      </tr>
    <% end %>
    <% if @banners.empty? %>
      <tr><td colspan="4"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>

