<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:banner) %></h1>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @banner } %>

<%= form_for [:admin, @banner], url: spree.admin_banners_path, html: { multipart: true }  do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links', locals: { collection_url: spree.admin_banners_path } %>
<% end %>
